   <header>
      <nav>
        <ul role="list" class="nav-list">
          <li>
            <a {% if currentUrl === '/' %}aria-current="page"{% endif %} href="/">Home</a>
          </li>
          <li>
            <a {% if page.url === '/about/' %} aria-current="page"{% endif %} href="/about">About</a>
          </li>
        </ul>
      </nav>
    </header>

     