.cv-links {
    list-style-type: disc;
    margin-inline: auto;
    padding-inline-start: 1.5rem;
    padding-inline-end: 1rem;
    width: min(100%, var(--max-width));
    padding-inline: 1rem;
}

.profile {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.cv-image {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  margin:0;
}

.content h1 {
  font-size: 3rem;
}

.role {
  font-weight: 600;
}

.key-info p {
  margin: 0;
  margin-top: 0.5rem;
}