@import url('./reset.css');

/* Defaults */

:root {
  --ff: "Inter", sans-serif;
}

/* Layout */

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 5vh clamp(1rem, 5vw, 3rem) 1rem;
    font-family: var(--ff);
    background-color: #f9f9f9;
  }

  body > * {
    --layout-spacing: max(8vh, 3rem);
    --max-width: 70ch;
    width: min(100%, var(--max-width));
    margin-left: auto;
    margin-right: auto;
  }

  header,
  main,
  main > * + * {
    margin-top: var(--layout-spacing);
  }

  body > footer {
    margin-top: auto;
    padding-top: var(--layout-spacing);
  }
  
  body > footer div {
    border-top: 1px solid #ccc;
    padding-top: 0.5em;
    font-size: 0.9rem;
    color: #767676;
  }

/* Typography */

:is(h1, h2, h3) {
  line-height: 1.2;
}

:is(h1, h2,) {
  max-width: 40ch;
}

:is(h2, h3,):not(:first-child) {
  margin-top: 2em;
}

/* Nav */

.nav-list {
   font-weight: bold;
   display: flex;
   flex-wrap: wrap;
   gap: var(--gap, 1em);
}

.nav-list a {
  color: var(--clr-neutral-900);
  text-decoration: none;
}
  
.nav-list a:focus,
.nav-list a:hover {
  color: var(--clr-primary-400);
  text-decoration: underline;
}