---
title: About
layout: base.njk
---

<h1> Hello I'm the About page</h1>

<article><ol>
  <li><a href="/cv">Curriculum vitae</a><br>Curriculum vitae of Marcell Erdelyi<br/></li>
</ol></article>