---
title: About
layout: base.njk
---
<h1>{{ title }}</h1>
<p>Hei, I'm <a href="/cv">Marcell</a>.</p>
<p>A Budapest born hungarian, now living in the heart of Norway, working as a visualization engineer.</p>

<p>I enjoy reading, tinkering with computers, gadgets and electronics, coding, working with the command line, exploring Linux, and leaning new things.</p>
<p>I'm a nerd at heart, but I also enjoy staying active. I regularly go to the gym, love skiing, and playing tennis.</p>