---
title: Personal website
layout: base.njk
---

<div class="hero-text">
<h1> Hei, I'm Marcell!</h1>
<p>I help multidisciplinary teams speak the same language by translating complex systems into clear, easily understandable visuals. With over 5 years of experience as a technical artist, I enjoy untangling complicated systems and turning them into something people can actually visualise, share, and understand. Originally from Budapest, Hungary, I now live in a small town in the heart of Norway.</p>
</div>

<h2> Latest Posts</h2>
<hr>

<ul>
    {% for post in collections.recentPosts %}
    <li>
      <a href="{{ post.url }}">{{ post.data.title }}</a><br />
      <small class="post-meta"><time>{{ post.data.date | postDate }}</time></small>
    </li>
    {% endfor %}
</ul>